{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Smart Hospital Login</title>
    <link rel="stylesheet" href="{% static 'css/hospital.css' %}">
</head>
<body>
    <h1>Welcome to Smart Hospital</h1>
    <h2>Login</h2>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <button type="submit" class="login-btn">Login</button>
    </form>
</body>
</html>
