{% extends "base.html" %}

{% block title %}Doctors{% endblock %}

{% block content %}
<h2>Doctors</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.specialization }}</td>
            <td>{{ doctor.age }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
